<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2019 WireGuard LLC. All Rights Reserved.
-->
<?if $(var.WINTUN_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "d8f0fdb1-d10d-4821-b0e7-4e94dc172c00"?>
<?elseif $(var.WINTUN_PLATFORM) = "x86"?>
	<?define UpgradeCode = "c97f051c-6704-4e9e-9eb6-b9c6b4b3b684"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="Mullvad-Wintun"
		Language="1033"
		Version="1.0"
		Manufacturer="Mullvad VPN AB"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="400"
			Compressed="yes"
			InstallScope="perMachine"
			Description="TUN adapter for WG in Mullvad VPN"
			ReadOnly="yes" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="ARPSYSTEMCOMPONENT" Value="1" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallExecute" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Merge Id="WintunMergeModule" Language="0" DiskId="1" SourceFile=".deps\wintun-$(var.WINTUN_PLATFORM).msm" />
		</Directory>

		<Feature Id="WintunFeature" Title="Wintun" Level="1">
			<MergeRef Id="WintunMergeModule" />
		</Feature>
	</Product>
</Wix>
