[submodule "openvpn"]
	path = openvpn
	url = https://github.com/mullvad/openvpn
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
[submodule "openssl"]
	path = openssl
	url = git://git.openssl.org/openssl.git
[submodule "openvpn-build"]
	path = openvpn-build
	url = https://github.com/mullvad/openvpn-build.git
[submodule "libmnl"]
	path = libmnl
	url = git://git.netfilter.org/libmnl
[submodule "libnftnl"]
	path = libnftnl
	url = git://git.netfilter.org/libnftnl
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "shadowsocks-rust"]
	path = shadowsocks-rust
	url = https://github.com/shadowsocks/shadowsocks-rust
[submodule "win-split-tunnel"]
	path = win-split-tunnel
	url = https://github.com/mullvad/win-split-tunnel.git
[submodule "wireguard-nt"]
	path = wireguard-nt
	url = https://github.com/mullvad/wireguard-nt
