[submodule "libmnl"]
	path = libmnl
	url = https://git.netfilter.org/libmnl.git
[submodule "libnftnl"]
	path = libnftnl
	url = https://git.netfilter.org/libnftnl.git
[submodule "win-split-tunnel"]
	path = win-split-tunnel
	url = https://github.com/mullvad/win-split-tunnel.git
